## List

In [1]:
ex = list()
type(ex)

list

In [2]:
ex

[]

In [3]:
ex = list()
dir(ex)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [4]:
help(ex.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

### Lists are written within square brackets

In [5]:
z = [3, 5, 9, 2]

In [6]:
z

[3, 5, 9, 2]

In [7]:
x = [0] * 5
x

[0, 0, 0, 0, 0]

In [8]:
x = ['Hello'] * 4
x

['Hello', 'Hello', 'Hello', 'Hello']

```
The range() function is used to generate a sequence of numbers over time. At its simplest, it accepts an integer and returns a range object (a type of iterable). In Python 2, the range()  returns a list which is not very efficient to handle large data.
```

In [9]:
range(10)

range(0, 10)

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
range(1,10)

range(1, 10)

In [12]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
range(1,10,2)

range(1, 10, 2)

In [14]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [17]:
list1 = list(range(1,10))
list2 = list(range(1,10,2))
list3 = list(range(1,-10,-2))
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[1, -1, -3, -5, -7, -9]

### Lists store data of different types

In [18]:
l1 = ['John', 'Anna', False, 1, 1, 2]
l1

['John', 'Anna', False, 1, 1, 2]

### Check if element is in list

In [19]:
print(l1)
1 in l1

['John', 'Anna', False, 1, 1, 2]

True

In [20]:
print(l1)
'Alice' not in l1

['John', 'Anna', False, 1, 1, 2]

True

### Accessing values in list

In [21]:
#The first element is at index 0
z = [3, 5, 9, 2]
print(z)
z[0]

[3, 5, 9, 2]

3

In [22]:
#The second element is at index 1
print(z)
z[1]

[3, 5, 9, 2]

5

In [23]:
#Access the last element of list
print(z)
z[-1]

[3, 5, 9, 2]

2

In [24]:
#Access second from last element of list
print(z)
z[-2]

[3, 5, 9, 2]

9

### Slicing lists

In [26]:
#The first index is inclusive and the second one is not
print(z)
z[1:3]

[3, 5, 9, 2]

[5, 9]

In [27]:
#Everything up to index 2
print(z)
z[:2]

[3, 5, 9, 2]

[3, 5]

In [28]:
#index 2 till the end of list
print(z)
z[2:]

[3, 5, 9, 2]

[9, 2]

### Minimum, Maximum, Length, Sum

In [29]:
print(z, "\n")
print('minimum: ', min(z))
print('maximum: ', max(z))
print('length: ', len(z))
print('sum: ', sum(z))

[3, 5, 9, 2]

minimum:  2
maximum:  9
length:  4
sum:  19

In [32]:
a = [True, 1, 2]
sum(a)

4

### Count the number of times value is in list

In [33]:
list1 = [1, 3, 4, 5, 9, 10, 3]
list1.count(3)

2

### Reversing the list

In [40]:
print(list1)
list1.reverse()
print(list1)

[3, 10, 9, 5, 4, 3, 1]
[1, 3, 4, 5, 9, 10, 3]

### Return first index of value

In [41]:
print(list1)
list1.index(0)

[1, 3, 4, 5, 9, 10, 3]

1

### You can specify where you start your search

In [42]:
print(list1)
list1.index(3, 3)

[1, 3, 4, 5, 9, 10, 3]

6

In [43]:
#random_list.index(value, start, stop)
print(list1)

list1.index(3, 1, 6)

[1, 3, 4, 5, 9, 10, 3]

1

### Copying a list

In [50]:
old_list = [1, 2, 3]
new_list = old_list

In [51]:
id(new_list), id(old_list)

(4467179912, 4467179912)

In [46]:
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3]
new list:  [1, 2, 3]

In [47]:
new_list.append('a')

In [48]:
new_list

[1, 2, 3, 'a']

In [49]:
#The old list is also modified
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3, 'a']
new list:  [1, 2, 3, 'a']

In [52]:
old_list = [1, 2, 3]
new_list = old_list.copy()

In [53]:
id(new_list), id(old_list)

(4469165256, 4469163976)

In [54]:
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3]
new list:  [1, 2, 3]

In [55]:
new_list.append('a')

In [56]:
print('old list: ', old_list)
print('new list: ', new_list)

old list:  [1, 2, 3]
new list:  [1, 2, 3, 'a']

### Empty the list

In [57]:
list1 = [{1, 2}, ('a'), ['1.1', '2.2']]
print('List before clear():', list1)
# clearing the list
list1.clear()

print('List after clear():', list1)

List before clear(): [{1, 2}, 'a', ['1.1', '2.2']]
List after clear(): []

In [60]:
list1 = [{1, 2}, ('a'), ['1.1', '2.2']]
print('List before del:', list1)
# deleting the list
del list1[:]

print('List after del:', list1)

List before del: [{1, 2}, 'a', ['1.1', '2.2']]
List after del: []

In [61]:
list1 = [{1, 2}, ('a'), ['1.1', '2.2'], 5]
print('List before del:', list1)
# deleting the list
del list1[1:3]

print('List after del:', list1)

List before del: [{1, 2}, 'a', ['1.1', '2.2'], 5]
List after del: [{1, 2}, 5]

### Sorting a list

In [68]:
x = [3, 7, 1, 4, 5, 9, 11, 3, 4, 7]
y = ['Steve', 'Alice', 'Jane', 'David'] #add 'apple'
print('x= ',x, '\n')
print('y= ',y)

x=  [3, 7, 1, 4, 5, 9, 11, 3, 4, 7]

y=  ['Steve', 'Alice', 'Jane', 'David']

In [69]:
#From low to high

print('x= ',x, '\n')

x.sort()
print(x)

x=  [3, 7, 1, 4, 5, 9, 11, 3, 4, 7]

[1, 3, 3, 4, 4, 5, 7, 7, 9, 11]

In [70]:
#From high to low
print('x= ',x, '\n')

x.sort(reverse = True)
print(x)

x=  [1, 3, 3, 4, 4, 5, 7, 7, 9, 11]

[11, 9, 7, 7, 5, 4, 4, 3, 3, 1]

In [77]:
help(x.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [78]:
#From A-Z, a-z
print('y= ',y, '\n')

y.sort()
print(y)

y=  ['Steve', 'Alice', 'Jane', 'David']

['Alice', 'David', 'Jane', 'Steve']

In [79]:
#From Z-A, z-a
print(y)
y.sort(reverse = True)
print(y)

['Alice', 'David', 'Jane', 'Steve']
['Steve', 'Jane', 'David', 'Alice']

In [80]:
y = ['Steve', 'alice', 'Jane', 'David']

print('y= ',y, '\n')

y.sort()
print(y)

y=  ['Steve', 'alice', 'Jane', 'David']

['David', 'Jane', 'Steve', 'alice']

In [81]:
#Sorting list without altering the original list
y = ['Steve', 'alice', 'Jane', 'David']
new_list = sorted(y)
print(new_list)
print(y)

['David', 'Jane', 'Steve', 'alice']
['Steve', 'alice', 'Jane', 'David']

### Add to the end of list

In [82]:
x

[1, 3, 3, 4, 4, 5, 7, 7, 9, 11]

In [83]:
x.append(2)
x

[1, 3, 3, 4, 4, 5, 7, 7, 9, 11, 2]

In [84]:
x.append([2, 3, 4, 5])
x

[1, 3, 3, 4, 4, 5, 7, 7, 9, 11, 2, [2, 3, 4, 5]]

### Remove first occurence of value in list

In [85]:
print(x)
x.remove(7)
x

[1, 3, 3, 4, 4, 5, 7, 7, 9, 11, 2, [2, 3, 4, 5]]

[1, 3, 3, 4, 4, 5, 7, 9, 11, 2, [2, 3, 4, 5]]

In [88]:
?x.remove()

In [86]:
x.pop()

[2, 3, 4, 5]

In [87]:
x

[1, 3, 3, 4, 4, 5, 7, 9, 11, 2]

### Remove all occurances of a value from the list? -> lambda fuctions or loops

### Remove item at the index you provide

In [89]:
#will also return the item you remove
print(x,'\n')
x.pop(3)
print(x)

[1, 3, 3, 4, 4, 5, 7, 9, 11, 2]

[1, 3, 3, 4, 5, 7, 9, 11, 2]

In [ ]:
help(x.pop)

In [90]:
x.append([1, 2, 3, 4])
x

[1, 3, 3, 4, 5, 7, 9, 11, 2, [1, 2, 3, 4]]

In [92]:
x

[1, 3, 3, 4, 5, 7, 9, 11, 2, [1, 2, 3, 4], 4, 5]

### Extend (useful for concatenating lists)

In [95]:
print(x)
x.extend([4, 5])
print(x)

[1, 3, 3, 4, 5, 7, 9, 11, 2, [1, 2, 3, 4], 4, 5]
[1, 3, 3, 4, 5, 7, 9, 11, 2, [1, 2, 3, 4], 4, 5, 4, 5]

### You can also use + for concatenating lists

In [96]:
print('x= ',x,'\n')
print('y= ',y, '\n')
print('x+y= ',x+y)

x=  [1, 3, 3, 4, 5, 7, 9, 11, 2, [1, 2, 3, 4], 4, 5, 4, 5]

y=  ['Steve', 'alice', 'Jane', 'David']

x+y=  [1, 3, 3, 4, 5, 7, 9, 11, 2, [1, 2, 3, 4], 4, 5, 4, 5, 'Steve', 'alice', 'Jane', 'David']

### Insert item before the index you provide

In [97]:
print('x= ',x,'\n')
x.insert(4, [4, 5])
print(x)

x=  [1, 3, 3, 4, 5, 7, 9, 11, 2, [1, 2, 3, 4], 4, 5, 4, 5]

[1, 3, 3, 4, [4, 5], 5, 7, 9, 11, 2, [1, 2, 3, 4], 4, 5, 4, 5]

### Multidimentional lists

In [106]:
#create a 2D list, each element in this list is a list itself
list2 = [[1,2],[3,4],[5,6]]
list2

[[1, 2], [3, 4], [5, 6]]

In [103]:
print(list2)
print(list2[1])

[[1, 2], ['3', '4'], [5, 6]]
['3', '4']

In [108]:
print(list2,'\n')
print(list2[1][0])

[[1, 2], [3, 4], [5, 6]]

3

In [120]:
#create a 3D list, each element in this list is a list of lists
list3 = [ [ [1,0],[2,0] ],[ [3,4],[4,8] ],[ [5,-1],[6,-7] ] ]
list3

[[[1, 0], [2, 0]], [[3, 4], [4, 8]], [[5, -1], [6, -7]]]

In [121]:
print(list3,'\n')
print(list3[1][0][0])

[[[1, 0], [2, 0]], [[3, 4], [4, 8]], [[5, -1], [6, -7]]]

3