## Sets

### Create an empty set

In [1]:
ex = set()
ex

set()

In [3]:
dir(ex)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [4]:
help(ex.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [5]:
print(ex)
ex.add(42)
ex.add(False)
ex.add('Hi')
ex

set()

{42, False, 'Hi'}

In [24]:
ex.update({'pig', 'cat'})
ex

{42, False, 'Hi', 'cat', 'dog', 'horse', 'pig'}

In [7]:
ex.update(['dog', 'horse'])
ex

{42, False, 'Hi', 'cat', 'dog', 'horse', 'pig'}

### Sets are written within curly braces

In [25]:
set1 = {1,3,4,5,7,'Alice',True}
set1

{1, 3, 4, 5, 7, 'Alice'}

### There are no duplicates in a set

### Unlike lists, the order of elements doesn't matter => We cannot access individual values in a set.

In [26]:
print(ex)
ex.add(42)
ex

{False, 42, 'pig', 'cat', 'Hi', 'horse', 'dog'}

{42, False, 'Hi', 'cat', 'dog', 'horse', 'pig'}

In [27]:
ex[0]

TypeError: 'set' object does not support indexing

In [30]:
set1 = {1,3,3,3,3,5}
set2 = {1,3,5}
print('set1: ',set1)
print('set2: ',set2)
print(set1 == set2)
print(id(set1), id(set2))

set1:  {1, 3, 5}
set2:  {1, 3, 5}
True
4488980072 4488979848

### Length of the set

In [31]:
print('ex= ',ex)
len(ex)

ex=  {False, 42, 'pig', 'cat', 'Hi', 'horse', 'dog'}

7

### Remove an element from the set

In [32]:
print('ex= ',ex)
ex.remove(42)
ex

ex=  {False, 42, 'pig', 'cat', 'Hi', 'horse', 'dog'}

{False, 'Hi', 'cat', 'dog', 'horse', 'pig'}

In [33]:
print('ex= ',ex)
ex.remove(42)

ex=  {False, 'pig', 'cat', 'Hi', 'horse', 'dog'}

KeyError: 42

In [34]:
print('ex= ',ex)
ex.discard('Hi')
ex

ex=  {False, 'pig', 'cat', 'Hi', 'horse', 'dog'}

{False, 'cat', 'dog', 'horse', 'pig'}

In [35]:
#gives an error if element is not a member of the set
print('ex= ',ex)
ex.remove(42)
ex

ex=  {False, 'pig', 'cat', 'horse', 'dog'}

KeyError: 42

In [36]:
#does nothing if element is not a member of the set
print('ex= ',ex)
ex.discard(42)
ex

ex=  {False, 'pig', 'cat', 'horse', 'dog'}

{False, 'cat', 'dog', 'horse', 'pig'}

### Creating a set in a different way

In [37]:
ex2 = set([1, 3, 5, 7, 11, 13, 'John'])
ex2

{1, 11, 13, 3, 5, 7, 'John'}

### Empty the set

In [38]:
print(ex2)
ex2.clear()
print(ex2)

{1, 3, 5, 7, 11, 13, 'John'}
set()

### Union and intersection of 2 sets

In [41]:
odds = set([1, 3, 5, 7, 9])
evens = set([2, 4, 6, 8, 10])
primes = set([2, 3, 5, 7])

In [46]:
print('odds: ', odds)
print('evens: ', evens)
odds.union(evens)

odds:  {1, 3, 5, 7, 9}
evens:  {2, 4, 6, 8, 10}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [43]:
odds

{1, 3, 5, 7, 9}

In [47]:
print('evens: ', evens)
print('odds: ', odds)
evens.union(odds)

evens:  {2, 4, 6, 8, 10}
odds:  {1, 3, 5, 7, 9}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [48]:
print('odds: ', odds)
print('primes: ', primes)
odds.intersection(primes)

odds:  {1, 3, 5, 7, 9}
primes:  {2, 3, 5, 7}

{3, 5, 7}

In [68]:

print('primes: ', primes)
print('evens: ', evens)
primes.intersection(evens)

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{2}

In [50]:
print('evens: ', evens)
print('odds: ', odds)
evens.intersection(odds)

evens:  {2, 4, 6, 8, 10}
odds:  {1, 3, 5, 7, 9}

set()

In [51]:
#in primes but not in odds
print('primes: ', primes)
print('odds: ', odds)
primes.difference(odds)

primes:  {2, 3, 5, 7}
odds:  {1, 3, 5, 7, 9}

{2}

In [71]:
print('primes: ', primes)
print('odds: ', odds)
odds.difference(primes)

primes:  {2, 3, 5, 7}
odds:  {1, 3, 4, 5, 7}

{1, 4}

In [70]:
odds = set([1, 3, 5, 7, 4])
print('primes: ', primes)
print('odds: ', odds)
odds.difference(primes, evens)

primes:  {2, 3, 5, 7}
odds:  {1, 3, 4, 5, 7}

{1}

### Binary operations

In [53]:
odds = set([1, 3, 5, 7, 9])
evens = set([2, 4, 6, 8, 10])
primes = set([2, 3, 5, 7])

### AND

In [54]:
print('primes: ', primes)
print('evens: ', evens)
primes & evens

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{2}

### OR

In [55]:
print('primes: ', primes)
print('evens: ', evens)
primes | evens

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{2, 3, 4, 5, 6, 7, 8, 10}

In [56]:
print('evens: ', evens)
print('primes: ', primes)
evens - primes

evens:  {2, 4, 6, 8, 10}
primes:  {2, 3, 5, 7}

{4, 6, 8, 10}

In [57]:
print('primes: ', primes)
print('evens: ', evens)
primes - evens

primes:  {2, 3, 5, 7}
evens:  {2, 4, 6, 8, 10}

{3, 5, 7}

### Check if element is in a set

In [41]:
print('odds: ', odds)
2 in odds

odds:  {1, 3, 5, 7, 9}

False

In [42]:
print('evens: ', evens)
2 in evens

evens:  {2, 4, 6, 8, 10}

True

In [58]:
print('odds: ', odds)
2 not in odds

odds:  {1, 3, 5, 7, 9}

True

In [63]:
#Sets are disjoint if and only if their intersection is the empty set.
a = {0, 1, 2}
b = {1}
a.isdisjoint(b)

False

In [66]:
a = {0, 1, 2}
a.isdisjoint({3, 4})

True

### Convert list to set

In [72]:
list1 = [1, 3, 5, 5, 6, 7, 7, 7, 7]
print('list1: ', list1)

list1:  [1, 3, 5, 5, 6, 7, 7, 7, 7]

In [73]:
set1 = set(list1)
print('set1: ', set1)

set1:  {1, 3, 5, 6, 7}

In [74]:
list(set1)

[1, 3, 5, 6, 7]

### Subset method

In [79]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {1, 3, 5}
c = {1, 2, 2, 2}
print('a: ',a)
print('b: ',b)
print('c: ',c)

a:  {1, 2, 3, 4, 5, 6, 7}
b:  {1, 3, 5}
c:  {1, 2}

In [81]:
b.issubset(a)

True

In [82]:
c.issubset(a)

True

In [83]:
c.issubset(b)

False

### Copying a set

In [84]:
old_set = {1, 2, 3}
new_set = old_set

In [85]:
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3}
new set:  {1, 2, 3}

In [86]:
new_set.add('a')

In [87]:
#The old set is also modified
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3, 'a'}
new set:  {1, 2, 3, 'a'}

In [88]:
old_set = {1, 2, 3}
new_set = old_set.copy()

In [89]:
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3}
new set:  {1, 2, 3}

In [90]:
new_set.add('a')

In [91]:
print('old set: ', old_set)
print('new set: ', new_set)

old set:  {1, 2, 3}
new set:  {1, 2, 3, 'a'}